<%- include('../partials/admin-header') %>

<h2>Admin Login</h2>

<% if (error_msg) { %>
  <p style="color:red;"><%= error_msg %></p>
<% } %>
<div>
<form action="/admin/login" method="POST">
  <div>
    <label>Email</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
</div>

<%- include('../partials/admin-footer') %>