<!-- LEFT SIDEBAR -->
<div class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebar-menu">
                <li class="nav-devider"></li>
                <li><a href="/admin/dashboard" class="fa fa-tachometer"> Dashboard</a></li>

                <!-- Events Menu -->
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="hide-menu">Events</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/admin/all-events">All</a></li>
                        <li><a href="/admin/new-events">New Event</a></li>
                    </ul>
                </li>

                <!-- Messages Menu -->
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="hide-menu">Message</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/admin/new-messages">New Message</a></li>
                        <li><a href="/admin/new-events">All Event</a></li>
                    </ul>
                </li>

                <!-- Stories Menu -->
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-cloud"></i>
                        <span class="hide-menu">Stories</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/admin/add-rhema">Add New</a></li>
                        <li><a href="/admin/all-rhema">All Stories</a></li>
                    </ul>
                </li>

                <!-- Library Menu -->
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-book"></i>
                        <span class="hide-menu">Library</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/admin/add-lib">Add New</a></li>
                        <li><a href="/admin/all-rhema">All Library</a></li>
                    </ul>
                </li>

                <li><a href="#">Rhema</a></li>

                <!-- Mailbox Menu -->
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <i class="fa fa-envelope"></i>
                        <span class="hide-menu">Mailbox</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="email-compose.html">Compose</a></li>
                        <li><a href="email-read.html">Read</a></li>
                        <li><a href="email-inbox.html">Inbox</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
